@import '~antd/dist/antd.css';

.login-form {
  width: 300px;
  margin: 100px auto;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 300px;
}
.login-title {
  text-align: center;
  color: #000;
}